@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import './toolbox.scss';

html, body {
  margin: 0;
  background: $light-gray;
  font-family: $font-family;
  font-size: $base-font-size;
}

h1, h2, h3, p {
  margin: 0;
}

.base-text-input {
  font-size: $font-regular;
  font-family: $font-family;
  color: $black;
  border: none;
  border-bottom: $border-stable;
  outline: none;

  &::placeholder {
    color: $light-gray;
    font-size: $font-regular;
  }

  &:focus {
    border-bottom: $border-focus;
  }
}
