@import '../../toolbox.scss';

.text-form {
  .text-form__group {
    margin-bottom: $spacing * 2;
  }

  &.-inline {
    .text-form__group {
      display: inline-block;
      margin-right: $spacing;
    }

    button[type="submit"] {
      display: inline-block;
    }
  }

  label {
    font-size: $font-small;
    color: $dark-gray;
    display: block;
  }

  input {
    font-size: $font-regular;
    font-family: $font-family;
    color: $black;
    border: none;
    border-bottom: 1px solid $dark-cyan;
    outline: none;

    &:focus {
      border-bottom: 1px solid $cyan;
    }
  }

  input[type="text"], input[type="password"], input[type="search"] {
    width: 100%;
    box-sizing: border-box;
    padding-top: $half-spacing;
  }

  textarea {
    width: 100%;
    min-height: 4em;
    font-size: 1rem;
    font-family: $font-family;
    color: $black;
    border: 1px solid $dark-cyan;
    outline: none;
    padding: $half-spacing;
    box-sizing: border-box;

    &:focus {
      border: 1px solid $cyan;
    }
  }
}
