@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import './toolbox.scss';

html, body {
  margin: 0;
  background: $light-gray;
  font-family: $font-family;
  font-size: $base-font-size;
}

h1, h2, h3, p {
  margin: 0;

  &.center {
    text-align: center;
  }
}

h1 {
  font-size: $font-large;
  font-weight: $font-weight-heavy;
  color: $dark-cyan;
  margin: .5em 0;
}

h2 {
  font-size: $font-large;
  font-weight: $font-weight-heavy;
  color: $white;
  margin: .2em 0;
}

h3 {
  font-size: $font-medium;
  font-weight: $font-weight-heavy;
  color: $very-dark-cyan;
  margin: .2em 0;
}

p {
  font-size: $font-regular;
  font-weight: $font-weight-normal;
  color: $black;
  margin: .25em 0;

  &.error {
    color: $bright-red;
  }

  &.italic {
    font-style: italic;
  }

  &.small {
    font-size: $font-small;
  }
}

span {
  &.bold {
    font-weight: $font-weight-heavy;
  }
}

.input-group {
  margin-bottom: $spacing;

  label {
    font-size: $font-regular;
    color: $dark-gray;
    display: block;
  }

  input {
    font-size: $font-regular;
    font-family: $font-family;
    color: $black;
  }

  input[type="text"], input[type="password"], input[type="search"] {
    width: 100%;
    box-sizing: border-box;
    padding: $half-spacing;
    margin: 0;
  }
}

button {
  font-family: $font-family;
  font-size: $font-medium;
  font-weight: $font-weight-heavy;
  background-color: $bright-cyan;
  text-transform: uppercase;
  color: $white;
  border: none;
  padding: $half-spacing $spacing * 2;
  margin: auto;
  display: block;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
  }

  &:active {
    user-select: none;
    background-color: darken($bright-cyan, 15%);
  }

  &.-tertiary {
    font-size: $font-small;
    padding: 0;
    background: none;
    color: $light-gray;
    text-decoration: underline;
    margin-top: $spacing;

    &:hover {
      color: $dark-gray;
    }
  }
}

textarea {
  width: 100%;
  min-height: 4em;
  font-size: 1rem;
}
