@import '../../toolbox.scss';

.button {
  font-family: $font-family;
  font-size: $font-regular;
  font-weight: $font-weight-heavy;
  background-color: $cyan;
  text-transform: uppercase;
  color: $white;
  border: none;
  padding: $half-spacing $spacing * 2;
  margin: auto;
  display: block;
  border-radius: $border-radius;
  outline: none;
  box-shadow: $box-shadow;

  &:hover {
    cursor: pointer;
    background-color: darken($cyan, 15%);
  }

  &:active {
    background-color: darken($cyan, 15%);
  }

  &.tertiary {
    background: none;
    color: $dark-gray;
    box-shadow: none;
    text-decoration: underline;
    text-transform: none;

    &:hover {
      color: $black;
    }
  }
}
