@import '../../toolbox.scss';

.app {
  height: 100vh;

  .app__modal {
    max-width: $modal-width;
    margin: auto;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
  }

  .app__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }
}
